.arcconfig
baserequires_*
fb/_inc/apikeys.php
patstuff.php
fb/ajax/sandbox.php
._*
.idea
fb/_inc/ajaxinit_pmcilroy.php
baserequires.php
*.pyc
fb/js/backup
fb/_inc/ajaxinit_dsanyika.php
.buildpath
.project
.settings
.settings/*
fb/ajax/test.php
.DS_Store
havarti.js
*.orig
gw-precommit-local
.htaccess
*.swp
fb/js/*.min.js
fb/css/*.min.css
testConstants.php
.sass-cache
