body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #efefef; }

.ui-map {
  position: absolute;
  background: #adff2f;
  z-index: 100; }

.ui-game {
  position: absolute;
  z-index: 1000; }
  .ui-game .entity {
    position: absolute; }
