<!DOCTYPE html>
<html>
<head>
    <title>KabamLoL</title>
    <link rel="stylesheet" href="{{ static_url('css/ui.css') }}" />
</head>
<body scroll="no">

<div id="game" class="ui-game"></div>
<div id="map" class="ui-map"></div>
<div id="interface" class="ui-interface">
    <div class="unitframes">
        <div class="unit me br5">
            <div class="avatar br5"></div>
            <div class="stats">
                <div class="namelevel"><div class="level br10"></div><div class="name"></div></div>
                <div class="hpbar br2"><div class="hp br2"></div></div>
                <div class="mpbar br2"><div class="mp br2"></div></div>
            </div>
        </div>
    </div>
    <div class="chatbox br5">

    </div>
    <div class="minimap br5">

    </div>
    <div class="abilities br5">
        <!--
        <div class="ability attack"><div class="frame"></div><div class="icon">1</div></div>
        <div class="ability aoe"><div class="frame"></div><div class="icon">2</div></div>
        <div class="ability slow"><div class="frame"></div><div class="icon">3</div></div>
        <div class="ability sprint"><div class="frame"></div><div class="icon">4</div></div>
        <div class="ability dot"><div class="frame"></div><div class="icon">5</div></div>
        <div class="ability ultimate"><div class="frame"></div><div class="icon">6</div></div>
        -->
    </div>
    <div class="xpbar br2">
        <div class="bar br2"><div class="xp br2"></div></div>
    </div>
</div>

<script src="{{ static_url('js/socket.io.js') }}"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="{{ static_url('js/jquery.loop.js') }}"></script>
<script src="{{ static_url('js/jquery.polygon.js') }}"></script>
<script src="{{ static_url('js/jquery.astar.js') }}"></script>
<script src="{{ static_url('js/utils.js') }}"></script>

<script src="{{ static_url('js/classes/Sprite.js') }}"></script>
<script src="{{ static_url('js/classes/interface.js') }}"></script>
<script src="{{ static_url('js/classes/Game.js') }}"></script>
<script src="{{ static_url('js/classes/GameEvents.js') }}"></script>
<script src="{{ static_url('js/classes/Map.js') }}"></script>
<script src="{{ static_url('js/classes/Entity.js') }}"></script>

<script src="{{ static_url('js/init.js') }}"></script>

</body>
</html>