<!DOCTYPE html>
<html>
<head>
    <title>Heros of Kabam</title>
    <link rel="stylesheet" href="{{ static_url('css/ui.css') }}" />
</head>
<body scroll="no">

<div id="game" class="ui-game"></div>
<div id="map" class="ui-map"></div>

<script src="{{ static_url('js/socket.io.js') }}"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="{{ static_url('js/jquery.loop.js') }}"></script>
<script src="{{ static_url('js/jquery.polygon.js') }}"></script>
<script src="{{ static_url('js/jquery.astar.js') }}"></script>

<script src="{{ static_url('js/classes/Game.js') }}"></script>
<script src="{{ static_url('js/classes/GameEvents.js') }}"></script>
<script src="{{ static_url('js/classes/Map.js') }}"></script>
<script src="{{ static_url('js/classes/Entity.js') }}"></script>

<script src="{{ static_url('js/init.js') }}"></script>

</body>
</html>